# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
baby_names = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [7]:
drop1 = baby_names.drop('Unnamed: 0', axis=1, inplace=True)
drop2 = baby_names.drop('Id', axis=1, inplace=True)
print(baby_names)

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

### Step 6. Is there more male or female names in the dataset?

In [8]:
print(baby_names['Gender'].value_counts())
#More female names than male

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [12]:
print(baby_names['Name'].value_counts())
group = baby_names.groupby(['Name'])

Riley        1112
Avery        1080
Jordan       1073
Peyton       1064
Hayden       1049
             ...
Gelsey          1
Solay           1
Leighanne       1
Janari          1
Dafnee          1
Name: Name, Length: 17632, dtype: int64

### Step 8. How many different names exist in the dataset?

In [ ]:
#Refer to results from Step 7....17632 names in dataset

### Step 9. What is the name with most occurrences?

In [7]:
#Refer to results from Step 7....Riley has the most occurrences with 1112.

107416

### Step 10. How many different names have the least occurrences?

In [8]:
len(baby_names[baby_names.Count == baby_names.Count.min()])

147086

### Step 11. What is the median name occurrence?

In [28]:
print(baby_names.groupby('Name')['Count'].median())

Name
Aaban       6.0
Aadan       5.5
Aadarsh     5.0
Aaden      10.0
Aadhav      6.0
           ...
Zyra        6.0
Zyrah       5.5
Zyren       6.0
Zyria       6.0
Zyriah      6.0
Name: Count, Length: 17632, dtype: float64

### Step 12. What is the standard deviation of names?

In [29]:
print(baby_names.groupby('Name')['Count'].std())

Name
Aaban       0.000000
Aadan       0.957427
Aadarsh          NaN
Aaden      21.154974
Aadhav           NaN
             ...
Zyra        1.154701
Zyrah       0.707107
Zyren            NaN
Zyria       0.737865
Zyriah      1.666667
Name: Count, Length: 17632, dtype: float64

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [26]:
print(baby_names.describe())

               Year         Count
count  1.016395e+06  1.016395e+06
mean   2.009053e+03  3.485012e+01
std    3.138293e+00  9.739735e+01
min    2.004000e+03  5.000000e+00
25%    2.006000e+03  7.000000e+00
50%    2.009000e+03  1.100000e+01
75%    2.012000e+03  2.600000e+01
max    2.014000e+03  4.167000e+03