# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [6]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [10]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

IndexError: index 8 is out of bounds for axis 0 with size 7

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
wine.iloc[0:3, 0] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine.iloc[2:4, 3] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100, inplace = True)

### Step 9. Count the number of missing values

In [11]:
wine.isnull().sum()

14.23    0
1.71     0
15.6     0
127      0
3.06     0
2.29     0
5.64     0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
random = np.random.randint(10, size = 10)
print(random)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
wine.alcohol[random] = np.nan
wine.head(10)

### Step 12.  How many missing values do we have?

In [ ]:
wine.isnull().sum()

### Step 13. Delete the rows that contain missing values

In [ ]:
wine = wine.dropna(axis = 0, how = "any")

### Step 14. Print only the non-null values in alcohol

In [ ]:
val = wine.alcohol.notnull()

In [ ]:
wine.alcohol[val]

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
wine = wine.reset_index(drop = True)

### BONUS: Create your own question and answer it.

In [ ]:
#Give a summary of the statistics:
print(wine.describe())